.browse {
  width: 60vw;
  left: 20%;
  margin: 40px auto;
}

.browse-property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.text-browse {
  font-size: xx-large;
  font-weight: 700;
  left: 20%;
  margin: 40px auto;
}
